<h1>Edit station_area</h1>

<form id="edit-station_area" name="station_area">
  <div class="actions">
    <input type="submit" value="Update Station area" />
  </div>

</form>

<a href="#/index">Back</a>