<h1>New station_area</h1>

<form id="new-station_area" name="station_area">
  <div class="actions">
    <input type="submit" value="Create Station area" />
  </div>

</form>

<a href="#/index">Back</a>