#fstations-region {
	position: relative;	
	padding-top: 20px;
}
#info-region {
	position: relative;
	padding-top: 180px;
}
#accordion {
  position: relative;
  padding:0px;
  margin:0px;
  width: 600px;
}
#fpaccordion {
  position: relative;
  padding:0px;
  margin:0px;
}
a.print-preview {
    background: url(img/icon-print-preview.png) no-repeat 0 0;
    cursor: pointer;
    display: block;
    padding: 0 0 0 35px;
    line-height: 20px;
}
#content:before {
    content: "Thank you for printing this page. Do come back to foo.tld, we are constantly adding new and interesting articles and tutorials. Note: To help the environment we have automatically removed navigaton and other unessessary elements from the page.";
    display: block;
    border: 1px solid #ccc;
    font-style: italic;
    margin: 0 0 1em;
    padding: 8px 10px;
}