.black {
    color: #1E2633;
}
.extra-dark-gray {
    color: #323949;
}
.dark-gray {
    color: #525C71;
}
.gray {
    color: #6F7D8C;
}
.light-gray {
    color: #9FAAAD;
}
.extra-light-gray {
    color: #E8EAEA;
}
.white {
    color: #FFFFFF;
}