@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  font-weight: 400;
  padding: 60px 0px;
  padding-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif;
  color: black;
}
a {
	color: #FF6633;
}
p.footertext {
	font-size: 14px;
	line-height: 18px; 
}
/* navigation */
/*.navbar */
.navbar {
 margin-bottom: 2px;
 margin-left: 15%;
 margin-right: 5%;
}
/* title */
.navbar-default .navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;    
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    transition: all 0.3s ease-in-out 0s;    
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #fafafa;
    transition: all 0.3s ease-in-out 0s;    
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
ul.tod {
	font-size: 18px;
	font-weight: 200;	
}
.fm_bootstrap .feedback_trigger_text {
  background-color: white;
  right: -60px;
  top: 80px;
}
.fm_bootstrap.feedback_content {
  background-color: white;
  margin-top: 10px;
  padding-left: 15px;
}
.feedback_content.fm_bootstrap.feedback_content_closed.left-top, .feedback_content.fm_bootstrap.feedback_content_closed.left-bottom {
  margin-left: -470px;
}
.feedback_trigger.fm_bootstrap.left-top {
  background-color: white;
  margin-left: 465px;
  opacity: .8;
}
.feedback_trigger.left-top {
  position: fixed;
  top: 120px;
  left: 0;
}
.slider.slider-horizontal {
  width: 450px;
  height: 5px;
}
.slider-handle {
  position: absolute;
  width: 12px;
  height: 12px;
}
#header-region {
  position: relative;
  width: 100%;
  background-color: black;
  padding-top: 2px;
  padding-bottom: 0px;
  z-index: 3000;
}
#header {
  z-index: 32000;
}
#innheader {
  background-color: #000;
  width: 50%;
  margin-left: 17%;
  padding: 0px 0px 10px 6px;
}
#main-region {
    width: inherit;
    margin-top: 0px;
}
#etod-region {
    margin-top: 50px;
}
#info-panel{
    margin-top: 20px;
}
#simple-search {
  size: inherete;
}
#footer {
  position: relative;
  background-color: #FFFF;
}
#titles {
  position: relative;
  background: #FFFFFF;
  display: block;
  overflow: auto;
  width: 100%;
  z-index: 2000;
}
#logo-titles {
  position: absolute;
  background-color: rgba(250,250,250,.8);
  border: 1x solid #FF6633;
  left: 380px;
}
#myCarousel {
  position: inherit;
  width: 100%;
  padding-bottom: 20px;
}
.carousel-control {
  top: 66%;
  width: 4%;
  display: none;
}
#panel {
  position: relative;
  background: #FFFFFF;
}
#dlink {
  position: relative;
  background: #FFFFFF;
}
#detailscol {
  position: relative;
}
#map {
  border: 0px solid black;
  width: 100%;
  height: 700px;
  position: relative;
}
#mapPrint {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border: 0px solid black;
  width: 200px;
  height: 230px;
  position: absolute;
}
#detailscolprint {
  position: absolute;
  overflow: visible;
}
#printbasic {
  width: 500px;
  position: absolute;
  left: 300px;
  display: block;
  border: 0px solid grey;
}
#maplist {
  border: 0px solid black;
  width: 100%px;
  height: 700px;
  position: relative;
  padding-top: 20px;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#maphome {
  position: fixed;
  height: 100%;
  width: 92%;
  padding:0px;
  margin-top:50px;
}
#chart {
          position: initial;
          top: 20px;
}
#chartprint {
  position: absolute;
  top: 329px;
  left: 270px;
}
#dialog-chart {
          position: initial; 
          top: 20px; 
          left: -267px; 
}
#radar-region {
          position: initial; 
}
#fstations-region {
    position: relative; 
    padding-top: 20px;
    height: 580px;
    overflow: scroll;
}
#fstations-region-print {
    position: relative; 
    padding-top: 20px;
    height: 580px;
    overflow: visible;
}
#accordion {
  position: relative;
  padding:0px;
  margin:0px;
  width: absolute;
}
#accordionPrint {
  position: absolute;
  border: 0px solid grey;
  padding: 20px;
  margin: 28px;
  margin-left: 0px;
  padding-left: 0px;
}
#etodPrint {
  margin-bottom: 0px;
  margin-top: 60px;
  position: relative;
  border: 0px solid grey;
  padding: 7px;
  margin: 30px;
  margin-left: 0px;
  padding-left: 10px;
  left: 300px;
  top: 150px;
}
#fpaccordion {
  position: relative;
  padding:0px;
  margin:0px;
}
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 0px;
  padding: 0em .5em 0em .7em;
  min-height: 0;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 20px;
  width: 50%;
}
.ui-accordion .ui-accordion-content {
  padding: 0em 1.1em;
  border-top: 0;
  overflow: auto;
}
.glyphicon{
    font-size: larger;
    color: gray;
    padding-left: 3px;
}
.btn{
    font-size: 16px;
    padding-top: 7px;
}
.span.filter-option.pull-left{
    font-size: 16px;
}
.tooltip {
  margin-left: 20%;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0;
}
.tooltip-inner {
  color: #fff;
  background: #000;
  border: solid 1px #000;
}
a.print-preview {
    background: url('/assets/icon-print-preview.png');
    cursor: pointer;
    display: block;
    padding: 0 0 0 0px;
}
.container .credit {
  margin: 20px 0;
}
.ui-dialog {
  position: fixed;
  z-index: 2001;
  opacity: 0.99;
  min-height: 550px;
  max-height: 550px;
  }
row-thums {
	min-width: 200px;
}
p {
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
}
.hm1 {
    color: #000;
    font-size: 16px;
    text-align: left;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.hm2 {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hm21 {
    color: #000;
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hp2 {
    color: #000;
    font-size: 9px;
    text-align: left;
    line-height: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hp21 {
    color: #000;
    font-size: 9px;
    text-align: left;
    line-height: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hp221 {
    color: #000;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hm3 {
    color: #000;
}
.hm4 {
    color: #000;
}
.hm5{
  color: #86919A;
  font-size: 14px;
  line-height: 22px;
}
.hmc {
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.color {
    color: #F0626A;
}
hr {
    background: none repeat scroll 0 0 gray;
    border: 0 none;
    height: 2px;
    width: 100%;
}
.navbar-default {
font-family: 'Lato', sans-serif;
font-size: 14px;
  background-color: #000;
  color: white;
  border-color: #000;
}
.navbar-default .navbar-nav > li > a {
color: #fff;
}
.thumbs {
    padding: 0px;
    overflow: hidden;
    position: relative;
    margin: auto;
    color: #FFFFFF;
    font: 14px;
    border: 1px solid #e3e3e3;
    a {
        bottom: -200px;
        color: #FFFFFF;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        z-index: 100;
        span.title {
            display: table;
            width: 80%;
            height: 90%;
            padding-left: 30px;
            span {
                color: #FFFFFF;
                font-size: 28px;
                line-height: 36px;
                font-weight: 300;
                vertical-align: middle;
                display: table-cell;
            }
            span.project-info {
                color: #FFFFFF;
                font-size: 15px;
                line-height: 17px;
                font-weight: normal;
            }
        }
    }
    a:hover {
        bottom: 0;
        opacity: 1;
        transition: opacity 0.30s ease-in-out 0s, bottom 0.4s cubic-bezier(0.25, 0.840, 0, 1) 0s;
    }
}
.thumbs a {
    background-color: #000;
}
.list-inline.filter > li:hover {
    background: none repeat scroll 0 0;
    color: #FFFFFF;
}
form {
	position: inherit;
	width: 100%;
	padding-bottom: 20px;
	background-color: #fafafa;
}
#footer {
	height: 300px;
	background: #FF6633; /* Old browsers */
  background: -moz-linear-gradient(top, #FF6633 0%, #FF7D52 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6633), color-stop(100%,#FF7D52)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FF6633 0%,#FF7D52 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FF6633 0%,#FF7D52 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FF6633 0%,#FF7D52 100%); /* IE10+ */
  background: linear-gradient(to bottom, #FF6633 0%,#FF7D52 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##FF6633', endColorstr='#FF7D52',GradientType=0 ); /* IE6-9 */
	background-image: url('/assets/Jumbotron3.jpg');
	color: black;
}