main-region {
	width: inherit
}

row-thums {
	min-width: 200px;
}

p {
    color: #919da8;
    font-size: 14px;
    line-height: 22px;
}
.hm1 {
    color: #6F7D8C;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.color {
    color: #F0626A;
}
hr {
    background: none repeat scroll 0 0 #F0626A;
    border: 0 none;
    height: 5px;
    width: 50px;
}
a.more {
    color: #F0626A;
    text-decoration: none;
}
a:hover.more {
    color: #F0626A;
}
.btn-primary {
    background-color: #F0626A;
    border-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #d1565c;
    border-color: transparent;
    color: #FFFFFF;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.color-bg {
    background: #F0626A;
}
.home-icons {
    color: #F0626A;
    width: 160px;
    height: 160px;
    border: 2px solid #edeef0;
    border-radius: 80px;
    padding-top: 50px;
}
.thumbs {
    a {
        background-color: #F0626A;
    }
}
.list-inline.filter {
    & > li:hover {
        background: none repeat scroll 0 0 #F0626A;
        color: #FFFFFF;
    }
}
.news-link:hover {
    .news-box {
        border-left: 6px solid #F0626A;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
}
.carousel-control {
    color: #F0626A;
    font-size: 30px;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    opacity: 0.5;
}
.carousel-control:hover, .carousel-control:focus {
    color: #F0626A;
    opacity: 1;
}
.blog-meta {
    a {
        color: #F0626A;
    }
    a:hover {
        color: #d1565c;
    }
}
.pagination &>li &>a:hover, .pagination &>li &>span:hover, .pagination &>li &>a:focus, .pagination &>li &>span:focus {
    background-color: #F0626A;
}
blockquote {
    border-left: 5px solid #F0626A;
    margin: 0 0 20px;
    padding: 10px 20px;
}
.color-box {
    background: #F0626A;
    padding: 15px 20px 5px 20px;
    margin-bottom: 15px;
}
.bottom-links {
    li {
        a {
            color: #F0626A;
        }
        a:hover {
            color: #d1565c;
        }
    }
}
.social-icons {
    li:hover {
        background: #F0626A;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}
.pricing-table.active {
    .headline {
        background: #F0626A;
    }
}

