@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
body {
  height: 100%;
  font-weight: 400;
  padding: 60px 0px;
  padding-top: 0;
}
#header-region {
  background-color: black;
  padding-top: 3px;
  padding-bottom: 3px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0px;
}
#innheader {
  background-color: #000;
  width: 50%;
  margin-left: 17%;
  padding: 0px 0px 10px 6px;
}
#main-region {
    width: inherit;
    margin-top: 0px;
}
#etod-region {
    margin-top: 50px;
}
#info-panel{
    margin-top: 20px;
}
#simple-search {
  size: inherete;
}
#footer {
  position: relative;
}
#titles {
  position: relative;
  background: #FFFFFF;
  display: block;
  overflow: auto;
  width: 100%;
  z-index: 2000;
}
#logo-titles {
  top: 200px;
  position: absolute;
  background-color: rgba(250,250,250,.8);
  border: 4px solid #ff3535;
  width:35%;
}
#myCarousel {
  position: inherit;
  width: 100%;
  padding-bottom: 20px;
}
.carousel-control {
  top: 66%;
  width: 4%;
}
#panel {
  position: relative;
  background: #FFFFFF;
}
#dlink {
  position: relative;
  background: #FFFFFF;
}
#detailscol {
  position: relative;
}
#map {
  border: 0px solid black;
  width: 900px;
  height: 700px;
  position: relative;
}
#mapPrint {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border: 0px solid black;
  width: 200px;
  height: 200px;
  position: relative;
}
#detailscolprint {
}
#printbasic {
  width: 500px;
  position: fixed;
  left: 300px;
  display: block;
  border: 0px solid grey;
}
#maplist {
  border: 0px solid black;
  width: 900px;
  height: 700px;
  position: relative;
  padding-top: 20px;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.leaflet-container {
  overflow: hidden;
}
#maphome {
  position: fixed;
  height: 100%;
  width: 92%;
  padding:0px;
  margin-top:50px;
}
#chart {
          position: initial;
          top: 20px;
}
#chartprint {
  position: absolute;
  top: 50px;
  left: 170px;
}
#dialog-chart {
          position: initial; 
          top: 20px; 
          left: -267px; 
}
#radar-region {
          position: initial; 
}
#fstations-region {
    position: relative; 
    padding-top: 20px;
    height: 600px;
    overflow: scroll;
}
#accordion {
  position: relative;
  padding:0px;
  margin:0px;
  width: relative;
}
#accordionPrint {
  position: relative;
  border: 0px solid grey;
  padding: 20px;
  margin: 20px;
  width: relative;
  margin-left: 0px;
  padding-left: 0px;
}
#etodPrint {
  border: 1px solid grey;
  padding: 27px;
  margin: 10px;
  margin-left: 0px;
  padding-left: 10px;
}
#fpaccordion {
  position: relative;
  padding:0px;
  margin:0px;
}
.glyphicon{
    font-size: small;
    color: gray;
    padding-left: 3px;
}
.btn{
    font-size: 16px;
    padding-top: 7px;
}
.span.filter-option.pull-left{
    font-size: 16px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0;
}
.tooltip-inner {
  color: #fff;
  background: #000;
  border: solid 1px #000;
}
a.print-preview {
    background: url(img/icon-print-preview.png);
    cursor: pointer;
    display: block;
    padding: 0 0 0 0px;
}
.container .credit {
  margin: 20px 0;
}
.ui-dialog {
  position: fixed;
  z-index: 2001;
  opacity: 0.99;
  min-height: 550px;
  max-height: 550px;
  }
row-thums {
	min-width: 200px;
}
p {
    color: #919da8;
    font-size: 12px;
    line-height: 22px;
}
.hm1 {
    color: #000;
    font-size: 16px;
    text-align: left;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.hm2 {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hm21 {
    color: #000;
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hp2 {
    color: #000;
    font-size: 9px;
    text-align: left;
    line-height: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hp21 {
    color: #000;
    font-size: 9px;
    text-align: left;
    line-height: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hp221 {
    color: #000;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0.1px;
}
.hm3 {
    color: #000;
}
.hm4 {
    color: #000;
}
.hm5{
  color: #86919A;
  font-size: 14px;
  line-height: 22px;
}
.hmc {
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.color {
    color: #F0626A;
}
hr {
    background: none repeat scroll 0 0 gray;
    border: 0 none;
    height: 2px;
    width: 250px;
}
.thumbs {
    padding: 0px;
    overflow: hidden;
    position: relative;
    margin: auto;
    color: #FFFFFF;
    font: 14px;
    a {
        bottom: -200px;
        color: #FFFFFF;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        z-index: 100;
        span.title {
            display: table;
            width: 80%;
            height: 90%;
            padding-left: 30px;
            span {
                color: #FFFFFF;
                font-size: 28px;
                line-height: 36px;
                font-weight: 300;
                vertical-align: middle;
                display: table-cell;
            }
            span.project-info {
                color: #FFFFFF;
                font-size: 15px;
                line-height: 17px;
                font-weight: normal;
            }
        }
    }
    a:hover {
        bottom: 0;
        opacity: 1;
        transition: opacity 0.30s ease-in-out 0s, bottom 0.4s cubic-bezier(0.25, 0.840, 0, 1) 0s;
    }
}
.thumbs a {
    background-color: #000;
}
.list-inline.filter > li:hover {
    background: none repeat scroll 0 0;
    color: #FFFFFF;
}

form {
	position: inherit;
	width: 100%;
	padding-bottom: 20px;
	background-color: #fafafa;
}