#map {
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
}
.leaflet-container {
	position: relative;
}
.leaflet-layer {
	position: initial;
}
#maphome {
  position: fixed;
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
}
.leaflet-container {
	position: relative;
}
.leaflet-layer {
	position: initial;
}