#map {
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
  margin-top:50px;
}
.leaflet-container {
	width: 600px;
  height: 600px;
}
.leaflet-layer {
	position: initial;
}
#maphome {
  position: fixed;
  height: 100%;
  width: 92%;
  padding:0px;
  margin-top:50px;
}