.ui-widget-content a {
	color: #ff3535;
	text-decoration: none;
}
/*
form {
	border: 1px solid #ccc;
	background: #fafafa;
	padding: 5px;
	margin-bottom: 20px;
}*/
.no-padding {
	padding: 0;
	margin: 0;
}
.form-group {
	margin-bottom: 0;
}


