body {
  background-color: #f8f8f8;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
  width: 100%;
}



/* Header*/

/* ------------------------------- */

#header-region {
	background: inherit;
}

div#header-region {
	transition: initial;
	text-align: -webkit-right;
}



/* Sidebar*/

/* ------------------------------- */


#sidebar-region {
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #000;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

div#sidebar-region {
	transition: initial;
	text-align: -webkit-right;
}


.sidebar-nav {
	position: absolute;
	top: 20;
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}


li {
	display: list-item;
	color: #515455;

}

a.brand {
	font-size: 20px;
	line-height: 100px;
}

a {
	display: list-item;
	color: darkgray;
	background: initial;
	border-width: thin;
	border: black;
	border-bottom-style: inherit;
	line-height: 40px;
	text-indent: 30px;
	text-align: left;
}

