<!-- <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'> -->
<!-- <div id="maphome"></div> -->
<div id="header-region"></div>
<div id="main-region">
	<div id="home-region"></div>
	<!-- <div id="carousel-region"></div> -->	
	<div id="simple-search"></div>
</div></div>


<%= javascript_tag do %>
  $(function() {
    Equitabletod.start();
  });
<% end %>


