<div id="header-region"></div>
<div id="main-region"></div>
<div id="home-region"></div>
<div id="simple-search"></div>
<div id="etod-region"></div>
</div></div>


<%= javascript_tag do %>
  $(function() {
    Equitabletod.start({
    	munis: gon.lables.munis,
    	muni_names: gon.munis.munis
	});
  });
<% end %>


