<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>
<div id="header-region"></div>
<div id="main-region">
	<section id="home"></section>
	<div id="map"></div>
	<div id="simple-search"></div>
</div></div>
<div id="sidebar-region"></div>


<%= javascript_tag do %>
  $(function() {
    Equitabletod.start();
  });
<% end %>


